/*
.form {
	border: 1px solid #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	width: 500px;
}

.form fieldset {
	border: none;
}

.form fieldset legend {
	border-bottom: 1px solid #000;
	background: #d9d9d9;
	font-weight: bold;
	padding: 10px;
	width: 100%;
}

/*
.form .container {
	padding: 10px;
}

.form .row {
	display: flex;
	gap: 10px;
	width: 100%;
}

.form .column {
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	flex: 1 1 50%;
}

.form input,
.form button {
	font-size: 18px;
	height: 40px;
	padding: 10px;
}

/*
.form .container,
.form legend {
	padding: 15px;
}

.form fieldset {
	border: none;
}

.form legend {
	
}



.container {
	display: flex;

	justify-content: center;

	align-items: center;
	flex-wrap: wrap;
}

.formGroup {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	border: 1px solid red;
	flex: 1;
}

.column {
	display: flex;
	flex-direction: column;
	border: 1px solid blue;
	flex: 1;
}

.form input {
	width: auto;
}
*/
